
<div>
  <form action="/users/new" method='get'>
      <input type="submit" value='Joyn'>
    </form>

     <form action="/sessions/new" method='get'>
      <input type="submit" value ='bLog-in'>
    </form>
</div>

