  
<div>
  <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='bLog-Out'>
    </form>

     <form action="/profiles" method='get'>
      <input type="submit" value ='Community'>
    </form>

</div>