<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mArshall</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<center>
		<% if session[:current_user] %>
    	<%= erb :'_nav_user' %>
	  <% else %>
			<%= erb :'_nav_non_user' %>
	  <% end %>

		<a href="/"><h1>mARSHALL'<span>z</span> bL0G</h1></a>
	</center>

		<%= yield %>
</body>
</html>