<h2>Blog-in with Marshall</h2>

<form action="/sessions" method="post">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="bLog-in">
</form>